.main-page {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
.main-page-container {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 20px;
  justify-content: space-between;
}
.side-container {
  height: 200px;
  position: sticky;
  top: 100px;
}
.main-container {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.side-container ul {
  text-align: right;
  list-style: none;
}
.side-container ul a {
  width: 150px;
  display: flex;
  justify-content: end;
  gap: 15px;
  text-decoration: none;
  color: rgb(34, 33, 33);
  font-family: Vazir;
  padding: 5px;
}
.side-container ul a:hover {
  color: aqua;
}
.icon-sticky-sidebar {
  width: 25px;
  height: 25px;
}

.hero-main-page {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.hero-main-page section {
  max-width: 850px;
  box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px,
    rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 2px 2px -1px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px,
    rgba(42, 51, 70, 0.03) 0px 10px 10px -5px,
    rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
  text-align: right;
  padding: 60px;
}
.symbol-oparator {
  width: 100px;
  height: 100px;
}
.div-flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.daraje2-container {
  display: flex;
  box-shadow:  rgba(14, 63, 126, 0.06) 0px 0px 0px 1px,
    rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 2px 2px -1px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px,
    rgba(42, 51, 70, 0.03) 0px 10px 10px -5px,
    rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
    margin-top: 50px;
}
@media (width <= 750px) {
  .side-container {
    display: none;
  }
  
}
